/examples/_build/
/_build/
/build/
/dist/
/nbproject/private/
/CMakeFiles/
.vscode/
.cache/clangd/index/
/.idea/.gitignore
/cmake-build-debug/.ninja_deps
/cmake-build-debug/_deps/catch2-subbuild/.ninja_log
/cmake-build-debug/.ninja_log
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/a.out
/cmake-build-debug/_deps/catch2-subbuild/build.ninja
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-a58b23a2e66a40aed360.json
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-build
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/tmp/catch2-populate-cfgcmd.txt
/cmake-build-debug/_deps/catch2-subbuild/CMakeFiles/catch2-populate-complete
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-configure
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-done
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-download
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/tmp/catch2-populate-gitclone.cmake
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-gitclone-lastrun.txt
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-gitinfo.txt
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/tmp/catch2-populate-gitupdate.cmake
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-install
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-mkdir
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/tmp/catch2-populate-mkdirs.cmake
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-patch
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-patch-info.txt
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-test
/cmake-build-debug/_deps/catch2-subbuild/catch2-populate-prefix/src/catch2-populate-stamp/catch2-populate-update-info.txt
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/benchmark/detail/catch_analyse.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_approx.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_assertion_handler.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_assertion_result.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/benchmark/detail/catch_benchmark_function.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_case_insensitive_comparisons.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/benchmark/catch_chronometer.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_clara.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_commandline.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_config.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_console_colour.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_context.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_debug_console.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_debugger.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_decomposer.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_enforce.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_enum_values_registry.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_errno_guard.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_exception_translator_registry.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_fatal_condition_handler.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_floating_point_helpers.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/generators/catch_generator_exception.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/generators/catch_generators.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/generators/catch_generators_random.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_get_random_seed.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_getenv.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/interfaces/catch_interfaces_capture.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/interfaces/catch_interfaces_config.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/interfaces/catch_interfaces_exception.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/interfaces/catch_interfaces_generatortracker.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/interfaces/catch_interfaces_registry_hub.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/interfaces/catch_interfaces_reporter.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/interfaces/catch_interfaces_reporter_factory.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/interfaces/catch_interfaces_testcase.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_istream.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_jsonwriter.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_lazy_expr.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_leak_detector.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_list.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2WithMain.dir/catch2/internal/catch_main.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/matchers/catch_matchers.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/matchers/catch_matchers_container_properties.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/matchers/catch_matchers_exception.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/matchers/catch_matchers_floating_point.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/matchers/internal/catch_matchers_impl.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/matchers/catch_matchers_predicate.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/matchers/catch_matchers_quantifiers.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/matchers/catch_matchers_string.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/matchers/catch_matchers_templated.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_message.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_message_info.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_output_redirect.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_parse_numbers.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_polyfills.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_random_number_generator.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_random_seed_generation.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_registry_hub.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_automake.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_common_base.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_compact.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_console.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_cumulative_base.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_event_listener.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_helpers.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_json.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_junit.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_multi.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_registrars.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_reporter_registry.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_sonarqube.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_reporter_spec_parser.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_streaming_base.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_tap.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_teamcity.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/reporters/catch_reporter_xml.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_result_type.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_reusable_string_stream.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_run_context.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/benchmark/detail/catch_run_for_at_least.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_section.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_session.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_singletons.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_source_line_info.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_startup_exception_registry.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/benchmark/detail/catch_stats.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_stdstreams.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_string_manip.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_stringref.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_tag_alias_autoregistrar.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_tag_alias_registry.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_test_case_info.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_test_case_info_hasher.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_test_case_registry_impl.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_test_case_tracker.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_test_failure_exception.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_test_registry.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_test_spec.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_test_spec_parser.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_textflow.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_timer.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_tostring.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_totals.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_translate_exception.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_uncaught_exceptions.cpp.o
/cmake-build-debug/_deps/catch2-build/generated-includes/catch2/catch_user_config.hpp
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/catch_version.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_wildcard_pattern.cpp.o
/cmake-build-debug/_deps/catch2-build/src/CMakeFiles/Catch2.dir/catch2/internal/catch_xmlwriter.cpp.o
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/_deps/catch2-subbuild/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/_deps/catch2-build/src/cmake_install.cmake
/cmake-build-debug/_deps/catch2-build/cmake_install.cmake
/cmake-build-debug/_deps/catch2-subbuild/cmake_install.cmake
/cmake-build-debug/tests/cmake_install.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/_deps/catch2-subbuild/CMakeCache.txt
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/_deps/catch2-subbuild/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-61d8c9bd23dec8eef3c1.json
/cmake-build-debug/_deps/catch2-subbuild/CMakeLists.txt
/cmake-build-debug/_deps/catch2-subbuild/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-7c58fbca3b955351d9b8.json
/.idea/codeStyles/codeStyleConfig.xml
/cmake-build-debug/tests/Debug/files/conditional001.dtd
/cmake-build-debug/tests/files/conditional001.dtd
/cmake-build-debug/tests/Debug/files/conditional002.dtd
/cmake-build-debug/tests/files/conditional002.dtd
/cmake-build-debug/tests/Debug/files/conditional003.dtd
/cmake-build-debug/tests/files/conditional003.dtd
/cmake-build-debug/tests/Debug/files/conditional004.dtd
/cmake-build-debug/tests/files/conditional004.dtd
/cmake-build-debug/tests/Debug/files/conditional005.dtd
/cmake-build-debug/tests/files/conditional005.dtd
/cmake-build-debug/tests/Debug/files/conditional006.dtd
/cmake-build-debug/tests/files/conditional006.dtd
/cmake-build-debug/tests/Debug/files/conditional007.dtd
/cmake-build-debug/tests/files/conditional007.dtd
/cmake-build-debug/tests/Debug/files/conditional008.dtd
/cmake-build-debug/tests/files/conditional008.dtd
/cmake-build-debug/tests/Debug/files/conditional009.dtd
/cmake-build-debug/tests/files/conditional009.dtd
/cmake-build-debug/tests/Debug/files/conditional010.dtd
/cmake-build-debug/tests/files/conditional010.dtd
/cmake-build-debug/tests/CTestTestfile.cmake
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-5491fb5c14f5c11435f9.json
/cmake-build-debug/.cmake/api/v1/reply/directory-_deps.catch2-build.src-Debug-43b93d255b71d7ac2efd.json
/cmake-build-debug/.cmake/api/v1/reply/directory-_deps.catch2-build-Debug-57a2e38f1b2a55b00362.json
/cmake-build-debug/.cmake/api/v1/reply/directory-tests-Debug-b01f6abb0ab61427ef3b.json
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/DTD.cpp.o
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/implementation/dtd/DTD_Impl.cpp.o
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/implementation/dtd/DTD_Impl_Parse.cpp.o
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/implementation/dtd/DTD_Impl_Parse_Content.cpp.o
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/implementation/dtd/DTD_Impl_Parse_External.cpp.o
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/implementation/dtd/DTD_Impl_Validator.cpp.o
/.idea/editor.xml
/cmake-build-debug/tests/Debug/files/empty.xml
/cmake-build-debug/tests/files/empty.xml
/cmake-build-debug/tests/files/generated.xml
/cmake-build-debug/tests/generated.xml
/cmake-build-debug/.cmake/api/v1/reply/index-2024-05-20T11-45-44-0503.json
/cmake-build-debug/_deps/catch2-subbuild/CMakeFiles/catch2-populate.dir/Labels.json
/cmake-build-debug/_deps/catch2-subbuild/CMakeFiles/catch2-populate.dir/Labels.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/_deps/catch2-build/src/libCatch2d.a
/cmake-build-debug/_deps/catch2-build/src/libCatch2Maind.a
/cmake-build-debug/libXML_Lib.a
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/tests/Debug/files/name.txt
/cmake-build-debug/tests/files/name.txt
/cmake-build-debug/tests/Debug/files/note001.dtd
/cmake-build-debug/tests/files/note001.dtd
/cmake-build-debug/tests/Debug/files/note002.dtd
/cmake-build-debug/tests/files/note002.dtd
/.idea/codeStyles/Project.xml
/cmake-build-debug/tests/Debug/files/report01.dtd
/cmake-build-debug/tests/files/report01.dtd
/cmake-build-debug/tests/Debug/files/report02.dtd
/cmake-build-debug/tests/files/report02.dtd
/cmake-build-debug/_deps/catch2-subbuild/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-Catch2-Debug-623711b33124ba9b1441.json
/cmake-build-debug/.cmake/api/v1/reply/target-Catch2WithMain-Debug-44291bbc5dd8f28afde3.json
/cmake-build-debug/.cmake/api/v1/reply/target-XML_Lib-Debug-1cbcb220cc6370beb20e.json
/cmake-build-debug/.cmake/api/v1/reply/target-XML_Lib_Unit_Tests-Debug-8fdc3c04f35d3c160da4.json
/cmake-build-debug/_deps/catch2-subbuild/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/tests/Debug/files/testfile001.xml
/cmake-build-debug/tests/files/testfile001.xml
/cmake-build-debug/tests/Debug/files/testfile002.xml
/cmake-build-debug/tests/files/testfile002.xml
/cmake-build-debug/tests/Debug/files/testfile003.xml
/cmake-build-debug/tests/files/testfile003.xml
/cmake-build-debug/tests/Debug/files/testfile004.xml
/cmake-build-debug/tests/files/testfile004.xml
/cmake-build-debug/tests/Debug/files/testfile005.xml
/cmake-build-debug/tests/files/testfile005.xml
/cmake-build-debug/tests/Debug/files/testfile006.xml
/cmake-build-debug/tests/files/testfile006.xml
/cmake-build-debug/tests/Debug/files/testfile007.xml
/cmake-build-debug/tests/files/testfile007.xml
/cmake-build-debug/tests/Debug/files/testfile008.xml
/cmake-build-debug/tests/files/testfile008.xml
/cmake-build-debug/tests/Debug/files/testfile009.xml
/cmake-build-debug/tests/files/testfile009.xml
/cmake-build-debug/tests/Debug/files/testfile010.xml
/cmake-build-debug/tests/files/testfile010.xml
/cmake-build-debug/tests/Debug/files/testfile011.xml
/cmake-build-debug/tests/files/testfile011.xml
/cmake-build-debug/tests/Debug/files/testfile012.xml
/cmake-build-debug/tests/files/testfile012.xml
/cmake-build-debug/tests/Debug/files/testfile013.xml
/cmake-build-debug/tests/files/testfile013.xml
/cmake-build-debug/tests/Debug/files/testfile014.xml
/cmake-build-debug/tests/files/testfile014.xml
/cmake-build-debug/tests/Debug/files/testfile015.xml
/cmake-build-debug/tests/files/testfile015.xml
/cmake-build-debug/tests/Debug/files/testfile016.xml
/cmake-build-debug/tests/files/testfile016.xml
/cmake-build-debug/tests/Debug/files/testfile017.xml
/cmake-build-debug/tests/files/testfile017.xml
/cmake-build-debug/tests/Debug/files/testfile018.xml
/cmake-build-debug/tests/files/testfile018.xml
/cmake-build-debug/tests/Debug/files/testfile019.xml
/cmake-build-debug/tests/files/testfile019.xml
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-bf2012e2e9198d778f85.json
/.idea/vcs.xml
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/XML.cpp.o
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/implementation/common/XML_Character.cpp.o
/cmake-build-debug/XML_Config.hpp
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/implementation/common/converter/linux/XML_Converter.cpp.o
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/implementation/entity/XML_EntityMapper.cpp.o
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/implementation/xml/file/XML_File.cpp.o
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/implementation/xml/XML_Impl.cpp.o
/.idea/XML_Lib.iml
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/data/XML_Lib_Tests_Attribute.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/DTD/XML_Lib_Tests_DTD_Parse_Attributes.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/DTD/XML_Lib_Tests_DTD_Parse_Entity.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/DTD/XML_Lib_Tests_DTD_Parse_Misc.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/DTD/XML_Lib_Tests_DTD_Parse_Tags.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/DTD/XML_Lib_Tests_DTD_Stringify.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/DTD/XML_Lib_Tests_DTD_Validate_Attributes.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/DTD/XML_Lib_Tests_DTD_Validate_Elements.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/DTD/XML_Lib_Tests_DTD_Validate_Misc.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/entitymapper/XML_Lib_Tests_Entity_Mapper.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/data/XML_Lib_Tests_External_Reference.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/XML/XML_Lib_Tests_Helper.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/IO/XML_Lib_Tests_IDestination.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/IO/XML_Lib_Tests_ISource.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/XML/XML_Lib_Tests_Parse_Attributes.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/XML/XML_Lib_Tests_Parse_CDATA.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/XML/XML_Lib_Tests_Parse_Comments.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/XML/XML_Lib_Tests_Parse_Declaration.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/XML/XML_Lib_Tests_Parse_Entities.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/XML/XML_Lib_Tests_Parse_Files.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/XML/XML_Lib_Tests_Parse_Misc.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/XML/XML_Lib_Tests_Parse_Namespace.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/XML/XML_Lib_Tests_Parse_PI.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/XML/XML_Lib_Tests_Parse_Root.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/XML/XML_Lib_Tests_Parse_Tags.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/XML/XML_Lib_Tests_Parse_Unicode.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/XML/XML_Lib_Tests_Stringify.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/data/XML_Lib_Tests_Value.cpp.o
/cmake-build-debug/tests/CMakeFiles/XML_Lib_Unit_Tests.dir/XML/XML_Lib_Tests_XML.cpp.o
/cmake-build-debug/tests/XML_Lib_Unit_Tests
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/implementation/common/XML_Parse.cpp.o
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/implementation/xml/parser/XML_Parser.cpp.o
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/implementation/xml/stringify/XML_Stringify.cpp.o
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/implementation/common/XML_Utility.cpp.o
/cmake-build-debug/CMakeFiles/XML_Lib.dir/classes/implementation/variant/XML_Variant.cpp.o
